       
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

         
:root{
    --color-branco: #ffffff;
    --color-verde: #b0d91e;
    --color-cinza: #343434;
    --color-preto: #151515;
}
*{
   margin: 0;
   padding: 0;
}
body{
   font-family: 'Open Sans', sans-serif;  
  color: var(--color-preto);
  background-color: #151515;
  color: #ffffff;
}
.img_logo_header{
   width: 200px; 
   margin-top: 8px;
}
.header, .navigation_header {
   display: flex;
   flex-direction: row;
   align-items: center;
   
}
.header{
   background-color: #151515;
   
   height: 5em;
   justify-content: space-between;
   padding: 0 9%;
   
   
}
.navigation_header{
   gap: 2em;
   z-index: 2;
}
.navigation_header a{
   text-decoration: none;
   color: #b0d91e;
   transition: 0.7s;
   font-weight: bold;
}
.navigation_header a:hover{
   color: #ffffff;
}
.active{
   background-color:#343434;
   padding: 10px;
   border-radius: 10px;
}
.content{
   text-align: center;
   padding-top: 3em;
   height:100vh;
   transition: 1s;
}
.btn_icon_header{
   
   background-color: transparent;
   border: none;
   color: #ffffff;
   cursor: pointer;
   display: none;
}
@media screen and (max-width: 768px) {

   .navigation_header{
      position: absolute;
      flex-direction: column !important;
      top: 0;
      background-color: rgb(20, 20, 20);
      height: 100%;
      width: 35vw;
      padding: 16px;
      animation-duration: 1s;
       margin-left: -100vw;
       
   }  
    .btn_icon_header{
       display: block;
   }
}
@keyframes showSidebar {
   from {margin-left: -100vw;}
   to {margin-left: -10vw;}
}








main.cards {
    display: flex;
    padding: 32px;
    margin-left: 25%;
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #343434;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
    background: linear-gradient(0deg, rgba(21, 21, 21, 1) 0%, rgb(41, 41, 41) 100%);
    box-shadow: 0 0 20px black;
         border-top: 2px solid rgba(255, 255, 255, 0.5);
         border-left: 2px solid rgba(255, 255, 255, 0.5);
}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 128px;
    height: 128px;
    
}

main.cards section.card img {
    width: 100%;
}

main.cards section.card h3 {
    font-size: 150%;
    margin: 64px ;
    color: #b0d91e;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 100%;
    margin-bottom: 16px;
    color: #ffffff;
}

main.cards section.card a {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 16px 0;
    text-decoration: none;
}

main.cards section.card.contact a {
    background: linear-gradient(to right, #b0d91e, #b0d91e);
}
main.cards section.card.shop a {
    background: linear-gradient(to right, #b0d91e, #b0d91e);
}


@media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 100%;
    }

}

footer{
   margin-left: 40%;
}





















